<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project</title>
</head>
<body>
<form action="register" method="post">
<h1>Kayit Ol</h1>
<label for="firstname">Adınızı Giriniz: </label><br>
<input type="text" name="fname"/><br>

<label for="lastname">Soyadınızı Giriniz: </label><br>
<input type="text" name="lname"/><br>

    <label for="password">Şifre Giriniz: </label><br>
    <input type="password" name="pass"/><br>

<button type="submit">Kayıt</button>
</form>
</body>
</html>